.nav{
    background-color:rgb(52, 209, 209);
    width: 100%;
    align-items: rigth;
    margin: auto;
    width: auto;
}

.boton{


    background-color:rgb(223, 233, 91);
    border: 2px solid rgb(13, 13, 15);
    border-radius: 10%;
    padding: 10px ;
    cursor: pointer;
    text-align: center;
    margin: 5 cm;
    font-size: 100%;
    font-weight:1000;

}