.container{
   background-color: rgb(224, 157, 11);
   border: 2px solid rgb(49, 49, 78);
}

button {
   background-color: #042fec;
   border: 2px solid rgb(13, 13, 15);
   border-radius: 3px;
   color: #ffffff;
   cursor: pointer;
   font-size: 30px;
   font: small-caps 100%/200% serif ;
   padding: 10px 20px; /* Ajusta el tamaño del padding para que se vea más como un botón estándar */
   width: auto; /* Ajusta el ancho a "auto" para que se adapte al contenido del botón */
   margin-top: 20px; /* Agrega un margen superior para separar el botón del resto del formulario */
 }

 label {
   font-size: 30px;
   font: small-caps 100%/200% serif;
   display: block;
   margin-bottom: 5px;
   text-align: center;
 }